* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/apertium-tur.pc.in -text
/apertium-tur.tur.lexc -text
/apertium-tur.tur.rlx -text
/apertium-tur.tur.twol -text
/autogen.sh -text
/configure.ac -text
dev/25072012-apertium-tur.tur.lexc -text
dev/25072012-apertium-tur.tur.rlx -text
dev/25072012-apertium-tur.tur.twol -text
dev/adv -text
dev/adv.checked -text
dev/adverbs.lex -text
dev/checked.xae -text
dev/countstems.sh -text
dev/coveragemac.sh -text
dev/coveragescrhips -text
dev/editdist.py -text
dev/miscategorised.lexc -text
dev/numerals.txt -text
dev/parallel -text
dev/postpositions.txt -text
dev/proof-lexicon.sh -text
dev/tr-cv-phrases.txt -text
dev/turkish.py -text
dev/unknown -text
dev/verb-morph.lexc -text
dev/verbs/Clean_FILE.lexc -text
dev/verbs/Makefile -text
dev/verbs/VERBS-scraps -text
dev/verbs/VERBS-scraps.lexc -text
dev/verbs/test-yap.txt -text
dev/verbs/verbs.yaml -text
eval/morph/Makefile -text
eval/morph/README -text
eval/morph/evaluate-morph.py -text
eval/morph/ref.1000.txt -text
eval/morph/src.1000.txt -text
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
tests/epenthesis.yaml -text
tests/irreg-vowelharmony.yaml -text
tests/nouns-misc.yaml -text
tests/np-misc.yaml -text
tests/numeral-misc.yaml -text
tests/qst-position.yaml -text
tests/verb-classes.yaml -text
tests/verbs-misc.yaml -text
tests/verbs-passive.yaml -text
tests/voicing.yaml -text
