* text=auto !eol
/Makefile -text
/miscategorised.lexc -text
/nouns-check.lexc.xac -text
/nouns-check.lexc.xad -text
/nouns-check.lexc.xae -text
/nouns-check.lexc.xaf -text
/nouns-check.lexc.xag -text
/nouns-check.lexc.xah -text
/nouns-check.lexc.xai -text
/nouns-check.lexc.xaj -text
/turmorph.lexc -text
/turmorph.twol -text
