/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-tur.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/tur.autogen.att.gz
/tur.autogen.bin
/tur.autopgen.bin
/tur.autogen.hfst
/tur.automorf.att.gz
/tur.automorf.bin
/tur.automorf.hfst
/tur.rlx.bin
/tests/morphotactics/*.txt.gz
/*.zhfst
/.DS_Store
/*.mode
/*-*.prob
/config.in
/config
/test/*-output.txt
/*.hfst
